.counter-up-sec {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
    background: rgb(236 240 245);
    position: relative;
    overflow: hidden;
    h2 {
        color: var(--black);
        font-size: 50px;
        line-height: 62px;
        font-weight: 700;
        font-family: Outfit, sans-serif;
    }
    .col-md-6 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    img.shape15 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    img.shape14 {
        position: absolute;
        left: 40%;
        bottom: 51px;
    }
    img.shape07 {
        width: 5.25rem;
        position: absolute;
        top: 6%;
        right: 2%;
        rotate: 90deg;
    }
    img.shape11 {
        position: absolute;
        width: 3.625rem;
        bottom: 3%;
        left: 3%;
        transform: rotate(360deg);
        animation: animate 30s linear infinite;
    }
}
.counter-up-sec-items {
    position: relative;
    z-index: 1;
}
// ------------------max-width: 991px-------------------

@media all and (max-width: 991px){

    .counter-up-sec-items .col-lg-3:nth-child(1),
    .counter-up-sec-items .col-lg-3:nth-child(2) {
        margin-bottom: 50px;
    }
    
   
}


// ------------------max-width: 768px-------------------

@media all and (max-width:768px){

    .counter-up-sec {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
    }
}
// ------------------max-width: 500px-------------------

@media all and (max-width:500px){

   
}
